.menu__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu__item {
    display: block;
    padding: 2rem;
}

.menu__item-link {
    text-decoration: none;
    color: inherit;
}
